// ALIGNSTRANDSEQ CONFIG

// SETTINGS
workDir = "/projects/lansdorp/lansdorp_scratch/nfwork/$USER"

nextflow.enable.dsl=2
singularity.enabled = true

// PARAMETERS
params.b2fdir = null
params.pipedir = "${launchDir}"

params.paired = true
params.ref = "hg38"
params.ashleysthreshold = 0.5
params.wcthreshold = 0.7
params.bgthreshold = 0.05

// RESOURCES
params.threads = 24
params.subthreads = 4
params.totalCores = Runtime.runtime.availableProcessors()

// ON-OFF
params.help = params.help ? true:false

params.b2f = params.b2f ? true:false
params.elevate = params.elevate ? true:false
params.keeptrim = params.keeptrim ? true:false
params.keeprawbam = params.keeprawbam ? true:false
params.keepbpr = params.keepbpr ? true:false
params.invertyper = params.invertyper ? true:false

// REFERENCES
if ( params.ref == "hg38" || params.ref == "chm13" ){
    params.genomesize = 3100000000
}
else {
    params.genomesize = null
}

// SINGULARITY
singularity.runOptions = "--bind /projects/"

// PROCESS SPECIFIC
process{
    maxForks = params.threads * ( params.totalCores / params.threads * 0.5 )
    memory = "2 GB"

    withLabel: light_mem {
        memory = "8 GB"
    }
    withLabel: heavy_mem {
        memory = "32 GB"
    }
    withLabel: high_cpus {
        cpus = params.subthreads * 2
    }

}

// WORKFLOW REPORTS

def currentDateTime = new Date().format('yyyyMMdd_HH:mm:ss')

log {
    file = "${params.pipedir}/logs/${currentDateTime}_wfstrandseq.log"
}

trace {
    enabled = true
    overwrite = true
    file = "${params.pipedir}/logs/${currentDateTime}_wfstrandseq.trace.txt" 
}

dag {
    enabled = true
    overwrite = true
    file = "${params.pipedir}/logs/wfstrandseq.dag.html"
}

report {
    enabled = true
    overwrite = true
    file = "${params.pipedir}/logs/${currentDateTime}_wfstrandseq.report.html"
    title = "My Workflow Report"
}

timeline {
    enabled = true
    overwrite = true
    file = "${params.pipedir}/logs/${currentDateTime}_wfstrandseq.timeline.html"
}